@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}