.Testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1600px;
    height: 800px;
    margin: 0 auto;
    background-color: white;
}

.testimonials__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1160px;
    height: 575px;
  
}

.testimonials__title {
    width: 206px;
    height: 47px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
}

.testimonials__item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonials__item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 268px;
    height: 391px;
    background: #F1F3F2;
    border-radius: 20px;
}

.testimonials__item-wrapper {}

.testimonials__item-head {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.testimonials__item-head-avatar img {
    width: 37px;
    height: 37px;

}

.testimonials__item-title {
    width: 180px;
    height: 20px;

}

.testimonials__item-title-name {
    width: 150px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.testimonials__item-title-decriptions {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.testimonials__item-title-location {
    width: 100px;
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonials__item-title-day {

    width: 41px;
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonials__item-content {
    width: 237px;
    height: 309px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}

.testimonials__line {
    box-sizing: border-box;
    width: 599px;
    height: 8px;
    margin: 0 auto;
    background: #F5F7F6;
    border-radius: 5px;
}

.testimonials__line-color {
    width: 115.19px;
    height: 6px;
    background: #FE9013;
    border-radius: 5px;
}

.testimonials__button {
    width: 298px;
    height: 22px;

}

.testimonials__button button {
    width: 298px;
    height: 54px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    border: none;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;

}

.Testimonials__foto {
    position: absolute;
    width: 300.92px;
    height: 295.45px;
    right: 0;
    bottom: 0;
    background: url(../../assets/desktop/testimonials/leav_foto.png);
}